* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 1rem;
}

header {
    background-color: #0084fd;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
}

nav div {
    background-color: orange;
    padding: 25px;
}



nav ol li {
    float: left;
    display: block;
    text-align: center;
    padding: 5px 14px;

}

ol :nth-last-child(1) {
    background-color: white;
    color: black;
}

.container,
.container3 {
    margin: auto;
    width: 1140px;

}

.grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 4.6875rem 0;
    gap: 4.0625rem;
}


.flexbig {
    width: 65%;
    height: 340px;

    border: 1px solid;
}

.flexsmall {
    width: calc(100% / 4);
    height: 340px;

    flex-grow: 1;
    border: 1px solid;
}

.flexbig,
.flexsmall {
    background-color: #b5ddff;
    color: #0084fd;
    text-align: center;
}

.purple {
    background-color: #9792e4;
}

.container2 {
    width: 880px;
    margin: auto;
    padding: 75px 0;
}

.plan {
    display: flex;
    justify-content: center;
}

.box1,
.box2 {
    height: 750px;
    background-color: white;
    width: 50%;
    border: 1px solid;
}



.container3 div {
    margin: 2.5rem 0;
}

.container3 h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #9792e4;
}

.partner {
    height: 270px;
    background-color: #9792e4;
    display: flex;

}

.p-image {
    width: 20%;
    border: 1px solid;
}

.p-text {
    float: right;
    width: 80%;
    color: white;

}


/**************
Responsive
**************/

@media screen and (max-width:1920px) {
    body {
        max-width: 100%;
    }

}