* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 1rem;
    font-family: 'PT Sans', sans-serif;
}

header {
    background-color: #0084fd;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
}

header nav div img {
    width: 100%;
}


nav ol li {
    float: left;
    display: block;
    text-align: center;
    padding: 5px 14px;

}

ol :nth-last-child(1) {
    background-color: white;
    color: black;
    border-radius: .9375rem;
}

.container,
.container3 {
    margin: auto;
    max-width: 1140px;

}

.grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 4.6875rem 0;
    gap: 4.0625rem;
}


.flexbig {
    width: 65%;
    border-radius: .9375rem;
    position: relative;
    padding: 0 2.5rem;
}

.flexsmall {
    width: calc(100% / 4);
    flex-grow: 1;
    border-radius: .9375rem;
    text-align: center;
    padding: 2.5rem;
}

.flexbig,
.flexsmall {
    background-color: #b5ddff;
}

.flexbig p {
    width: 50%;
    margin-bottom: 2.5rem;
}

.m-title {
    font-size: 1.5rem;
    color: #0084fd;
    margin: 2.5rem 0;
}

.flexbig :nth-child(3) {
    background-color: #0084fd;
    color: white;
    font-size: 1rem;
    border-radius: 2.938rem;
    text-align: center;
    width: 12.063rem;
    padding: 5px;
    letter-spacing: 2px;
}

.flexbig img {
    max-width: 15.625rem;
    display: block;
    padding-bottom: 0;
    float: right;
}

.m-icon {
    font-size: 4.5rem;
    color: #0084fd;
    margin-bottom: 1rem;
}

.purple {
    background-color: #9792e4;
}

.container2 {
    max-width: 880px;
    margin: auto;
    padding: 4.6875rem 0;
}

.plan {
    display: flex;
    justify-content: center;
    margin: 1.875rem 0;
    gap: 5.3125rem;
}

.box1 {
    color: white;
    width: 60%;
}


.box1 img {
    width: 100%;
    margin-bottom: 8.75rem;
}

.st-planning {
    font-size: 2.125rem;
    margin-bottom: 3.75rem;
    font-weight: bold;
}

.box2 {
    width: 50%;
    text-align: center;
    background-color: white;
    color: black;
    margin-top: 240px;
    padding: 60px;
    border-radius: 60px;
}

.box2 img {
    width: 100%;
    margin-bottom: 2.1875rem;
}

.st-planning2 {
    font-size: 1.5rem;
    margin-bottom: 2.1875rem;
}

.box2 p {
    font-style: italic;
    margin: auto;
}

.arrow {
    background-color: #9792e4;
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
    padding-top: .9375rem;
    margin-top: 40px;
    margin: auto;
}

.container3 {
    text-align: center;
}

.p-title {
    font-size: 3rem;
    font-weight: bold;
    color: #9792e4;
}

.container3 div {
    margin: 2.5rem 0;
    font-size: 20px;
}

.p-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.container3 h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #9792e4;
}

.partner {
    height: 270px;
    background-color: #9792e4;
    display: flex;

}

.p-image {
    width: 20%;
}

.p-text {
    width: 80%;
    color: white;
    text-align: left;
    padding: 2.5rem;

}

.p-names {
    font-weight: bold;
}

.b-title {
    font-size: 40px;
    text-align: center;
    color: white;
    padding-top: 70px;
    font-weight: bold;

}

.purple .container .grid {
    padding-bottom: 3.75rem;
}


.flexsmall2 {
    width: calc(100% / 4);
    background-color: white;
    flex-grow: 1;
    padding: 1.5625rem;
    border-radius: 15%;
}

.number {
    font-size: 4.5rem;
    color: #9792e4;
    font-weight: bold;
}

.container h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #9792e4;
}

.flexsmall2 p {
    margin-bottom: 2.1875rem;
}

.cnt-button {
    background-color: #9792e4;
    color: white;
    padding: 10px;
    width: 40%;
    text-align: center;
    border-radius: 15px;
}

.box3,
.box4 {
    height: 750px;
    border: 1px solid;
}

.box3 {
    width: 70%;
}

.box4 {
    width: 30%;
}

.About-us {
    font-size: 4rem;
    color: #9792e4;
    font-weight: bold;
}

.about-img {
    height: 15.625rem;
    width: 15.625rem;
    background-color: #9792e4;
    border-radius: 50%;
}

.box4 .about2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #9792e4;
}

.get-st {
    font-size: 1.125rem;
}

.price {
    font-size: 3rem;
}

.free {
    font-size: 96px;
}

.purple .container2 {
    color: white;
}

.start {
    background-color: white;
    color: #9792e4;
    padding: 10px;
}

.black {
    background-color: black;
    color: white;
    padding: 2.8125rem;
}

.black p {
    text-align: center;
    margin-bottom: 5rem;
}






/**************
Responsive
**************/

@media screen and (max-width:768px) {

    .container,
    .container2,
    .container3 {
        max-width: 100%;
    }
}

@media screen and (max-width:375px) {

    .grid {
        display: block
    }

}